{% extends "base.html" %}
{% block title %}
New Project
{% endblock %}
{% block content %}
    <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold">Add New Project</h1>
        <div class="col-lg-6 mx-auto">
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            
            <form id="post_form" method="post" action="" enctype="multipart/form-data">
              {% csrf_token %}
              {% for hidden in form.hidden_fields %}
                  {{ hidden }}
              {% endfor %}
              {% for field in form %}
                  {{ field }} <br />
              {% endfor %}
              {{ imageform.management_form }}
              {% for form in imageform %}
                  {{ form }}
              {% endfor %}
              <input type="submit" name="submit" value="Submit" />
            </form>

          </div>
        </div>
      </div>
{% endblock %}